name: Sync Pull Request to Azure Boards

on:
  pull_request:
    types: [edited, opened, closed]
    branches:
      - master

jobs:
  alert:
    runs-on: ubuntu-latest
    name: Running Workflow
    steps:       
    - uses: danhellem/github-actions-pr-to-work-item@master
      env:
        debug: true
        ado_token: '${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}' 
        github_token: '${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}' 
        ado_organization: '${{ secrets.ADO_ORGANIZATION }}'
        ado_project: '${{ secrets.ADO_PROJECT }}'
        ado_wit: 'Pull Request' 
        ado_new_state: 'New'
        ado_active_state: 'Active'
        ado_close_state: 'Closed'
